@model HandleErrorInfo
@{
    ViewBag.Title = "Falha";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <h3>Oops!</h3>

        <img src="/Images/freight-management-logo.png" alt="Gestão de Fretes" title="Gestão de Fretes" class="img-responsive center-block" />

        <p>Uma falha ocorreu durante o processamento do seu pedido.</p>
    </div>
</div>