@model HandleErrorInfo
@{
    ViewBag.Title = "Conta Bloqueada Temporariamente";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <h3>Oops!</h3>
        
        <img src="/Images/freight-management-logo.png" alt="Gestão de Fretes" title="Gestão de Fretes" class="img-responsive center-block" />

        <p>Esta conta foi bloqueada , por favor, tente novamente mais tarde.</p>
    </div>
</div>