@model FreightManagement.ViewModels.CarrierViewModel

@{
    ViewBag.Title = "Cadastrar Transportadora";
}

<h2>@ViewBag.Title:</h2>

@Html.Partial("_form")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
}
