@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h3>Plataforma de gestão de fretes</h3>

        <img src="/Images/freight-management-logo.png" alt="Gestão de Fretes" title="Gestão de Fretes" class="img-responsive center-block" />

        <p style="margin-top: 10px;">usuário: <strong>@User.Identity.GetUserName()</strong></p>
    </div>
</div>