@{
    ViewBag.Title = "Cadastrar Classificação";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title:</h3>
    </div>

    @Html.Partial("_FormPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}