@{
    ViewBag.Title = "Nenhuma Classificação Pendente";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title:</h3>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="alert alert-warning" role="alert">
                    Você já classificou todas as transportadoras!
                </div>                
            </div>
        </div>

        <div class="box-footer">
            <div class="row">
                <div class="col-md-5">
                    <a href="/Encontrar-Classificacao" class="btn btn-default">Voltar para listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>